.asideNotes{
    background-color: #262626;
    height: calc(100vh - 200px);
    border-radius: 10px;
}

.cardNote{
    width: 95%;
    border: 3px solid #575757;
    height: 265px;
    margin: 20px auto;
    border-radius: 10px;
}

.cardContainer{
    overflow:hidden auto;
    width: 290px;
    margin-right: 14px;
}

.content{
    width: calc(100% - 305px);
}

.toolbarClassName{
 background-color: transparent !important;
 border: none !important;
 justify-content: center !important;
 width: 97%;
 top: 70px;
 position: absolute;
}

.DraftEditor-editorContainer{
    height: calc(100vh - 482px) !important;
}

.toolbarHidden {
   opacity: 0.5; 
   pointer-events: none;
  }
  

.inputTitle{
    position: absolute;
    background: transparent;
    font-size: 25px;
    color: white;
    z-index: 3;
    top: 150px;
    width: 96.6%;
    padding: 8px 0px;
    padding-bottom: 1px;
    outline: none;
    border-bottom: 2px solid #4b4b4b;
    margin: auto;
}

.editorClassName{
    margin-top: 120px;
}

.borderLight{
    border-right: 2px solid #4b4b4b;
}

.footerNote{
    position: absolute;
    bottom: 9px;
    width: 96.6%;
    margin: auto;
    height: 35px;
}

.ant-picker-ok button{
background-color: #2b80ef;
}

#popNote{
    height: 100px;
}

#popShare{
    height: 167px;
    
}

#popShare{
    background-color: #363636f0 !important;
    color: white;
}

#popNoteEvent{
    height: 240px;
}

.shareButton{
    background-color: #1572a4e3 !important;
    color: white;
}

.addEventNote button{
    font-size: 14px
}

  /* Estilos para teléfonos en orientación vertical */
  @media (max-width: 480px) {
  }
  
  /* Estilos para teléfonos en orientación horizontal y tablets en orientación vertical */
  @media (min-width: 481px) and (max-width: 1126px) {
    .allContainer{
        display: flex;
        flex-wrap: wrap !important;
    }
    .cardContainer{
        overflow: hidden;
        width: 90% !important;
        height: 280px;
        margin: auto;
    }
    .card-container{
        overflow: auto;
        display: flex;
        padding: 10px;
    }
    .cardNote {
        height: 168px;
        margin: 0;
        min-width: 300px !important;
        margin-right: 15px;
    }
    .content{
        width: 90% !important;
        margin-top: 20px !important;
        height: calc(100vh - 500px);
    }
    .asideNotes{
        margin: auto;
    }
    .numberNotes{
        margin-bottom: 2px !important;
    }
    .DraftEditor-editorContainer{
        height: calc(100vh - 810px) !important;

    }

    .rdw-editor-toolbar{
        height: 77px !important;
        overflow: auto !important;
        overflow-x: auto;   /* Permite el desplazamiento horizontal si es necesario */
        overflow-y: hidden; /* Evita el desplazamiento vertical */
        white-space: nowrap; 
    }
  }
  
  /* Estilos para tablets en orientación horizontal y pantallas pequeñas de escritorio */
  @media (min-width: 769px) and (max-width: 1024px) {
    
  }
  
  /* Estilos para pantallas de escritorio grandes */
  @media (min-width: 1025px) {
    
  }