.asideNotes{
    background-color: #262626;
    height: calc(100vh - 200px);
    border-radius: 10px;
}

.cardNote{
    width: 95%;
    border: 3px solid #575757;
    height: 265px;
    margin: 20px auto;
    border-radius: 10px;
}

.cardContainer{
    overflow:hidden auto;
    width: 290px;
    margin-right: 14px;
}

.content{
    width: calc(100% - 305px);
}

.toolbarClassName{
 background-color: transparent !important;
 border: none !important;
 justify-content: center !important;
 width: 100%;
 top: 2px;
 position: absolute;
}

.DraftEditor-editorContainer{
    height: calc(100vh - 482px) !important;
}

.toolbarHidden {
   opacity: 0.5; 
   pointer-events: none;
  }
  

.inputTitle{
    position: absolute;
    background: transparent;
    font-size: 25px;
    color: white;
    z-index: 3;
    top: 78px;
    width: 96.6%;
    padding: 8px 0px;
    padding-bottom: 1px;
    outline: none;
    border-bottom: 2px solid #4b4b4b;
    margin: auto;
}

.editorClassName{
    margin-top: 120px;
}

.borderLight{
    border-right: 2px solid #4b4b4b;
}

.footerNote{
    position: absolute;
    bottom: -62px;
    width: 96.6%;
    margin: auto;
    height: 35px;
}

.ant-picker-ok button{
background-color: #2b80ef;
}

#popNote{
    height: 100px;
}

#popShare{
    height: 167px;
    
}

#popShare{
    background-color: #363636f0 !important;
    color: white;
}

#popNoteEvent{
    height: 240px;
}

.shareButton{
    background-color: #1572a4e3 !important;
    color: white;
}

.addEventNote button{
    font-size: 14px
}